*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corPrincipal: #fff4f4;
    --fonteHanken: "Hanken Grotesk", sans-serif;
    --corDourado: #c5a028;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
}

header{
    background-color: var(--corPrincipal);
    font-family: "Hanken Grotesk", sans-serif;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.box_busca{
    position: relative;
}

.box_busca svg{
    width: 20px;
    position: absolute;
    fill: #a9a9a9;
}

.box_busca input{
    padding-left: 25px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #a9a9a9;
}

.box_busca input:focus{
    outline: none;
}

.link_inicio{
    color: #cccccc;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-align: center;
}

.link_inicio span{
    color: #444444;
    position: absolute;
    left: -5px;
    top: 8px;
}

.link_inicio hr{
    margin-top: 7px;
    width: 100px;
    color: var(--corDourado);
    border: none;
    height: 1px;
}