*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


/* ...........CABECALHO............... */
.home_cabecalho{
    background-color: #fff4f4;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container{
    /* background-color: aqua; */
    max-width: 1200px;/* largura maxima 1200px */
    width: 95%;/* largura 95% */
    margin: 0 auto;
}





/* ...............BANNER.................*/
.home_banner{
    background-color: #fdf8f8;

}
.box_texto_banner{
    /* background-color: #1eff00; */
      font-family: "Hanken Grotesk", sans-serif;
      max-width: 520px;
}

.banner_container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner_container img{
    width: 547px;
}

.linha1{
    color: #c5a928;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

.linha2{
     font-family: "Libre Caslon Text", serif;
     font-size: 48px;
}

.linha3{
     font-size: 20px;
     font-style: italic;
     color: #aaaaaa;
     margin-bottom: 30px;
     display: inline-block;
     
}

.linha4{
     font-weight: 600;
     font-size: 12px;
     text-transform: uppercase;
     color: #ffffff;
     text-decoration: none;

     background-color: #000000;
     padding: 16px 41px;
}





/* ............................Produtos.................................... */

.home_produtos{
    padding: 100px 0;
}


.link_produtos a {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;

    text-decoration: none;
    color: #000000;
}

.link_produtos svg{
    width: 20px;
}

.link_produtos div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.link_produtos hr{
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}

.home_subtitulo{
    font-family: "Libre Caslon Text", serif;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.home_subtitulo h2{
    font-weight: 700;
    font-size: 64px;
    background-image: linear-gradient(0deg, #ffffff, #e9e9e9);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.home_subtitulo span{
    font-size: 32px;
    position: absolute;
    bottom:-10px;
    margin-bottom: 0 auto;
}

.home_subtitulo hr {
    max-width: 380px;
    width: 100%;
    background-color: #c5a028;
    border: none;
    height: 2px;
    
}

.img_categoria1{
    background-image: url(../img/pexels-jonathanborba-26774588\ 1.png);
    width: 770px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 20px;
}

.container_categorias{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container_categorias a{
    color: #ffffff;
    text-decoration: none;
}

.img_categorias{
     font-family: "Hanken Grotesk", sans-serif;
     font-weight: 500;
}

.home_produtos h3{
    font-family: "Libre Caslon Text", serif;
}

.col_categorias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_categoria2{
    background-image: url(../img/Image\ \(1\).png);
    width: 25%;
    max-width: 352px;
    height: 284px;
}

.img_categoria3{
    background-image: url(../img/Image\ \(2\).png);
}

.img_categoria2,
.img_categoria3{
    /* width: 25%; */
    width: 352px;
    height: 284px;
    display: flex;
    align-items: flex-end;
    padding: 20px 10px;
    font-size: 24px;
}





................./* FOOTER */..................
footer {
    background-color: #fff4f4;
    height: 100px;
    display: flex;
    align-items: center;
    width: 1000px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #fff4f4;
}

.nav_footer{
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.footer_container span,
.nav_footer a{
    font-family: "Hanken Grotesk", sans-serif;
}

.nav_footer a{
    text-decoration: none;
    color: #747878;
}